<div class="sidebar" id="sidebar">
  <div class="topo">
    <h2><%= theme.author %></h2>
  </div>
  <ul>
    <% for (const menu in theme.menus) { %>
    <li>
      <a href="<%= theme.menus[menu] %>"><%= theme.menus_title[menu] %></a>
    </li>
    <% } %>
  </ul>
  <div class="my_foot">
    <% theme.bottomIcon.forEach(item => { %>
    <a href="<%= item.toUrl %>">
      <img src="<%= item.iconLink %>" alt="<%= item.name %>">
    </a>
    <% }) %>
  </div>
</div>
<div class="shelter" id="shelter"></div>
