<div class="footer">
  <div class="Copyright">
    &copy;<%= new Date().getFullYear() %> By <%- theme.author %>.
    主题：<a class="footer-theme-link" href="https://github.com/79e/hexo-theme-quiet">Quiet</a>
  </div>
  <div class="contact">
    <% theme.bottomIcon.forEach(function(item) { %>
    <% var isMailto = typeof item.toUrl === 'string' && item.toUrl.indexOf('mailto:') === 0; %>
    <a href="<%= item.toUrl %>"<% if (isMailto) { %> data-email="<%= item.toUrl.replace('mailto:', '') %>" class="contact-mailto"<% } %>>
      <img src="<%= item.iconLink %>" alt="<%= item.name %>">
    </a>
    <% }) %>
  </div>
</div>
<%- partial('_widget/gotop') %>
<%- partial('_widget/analytics') %>
<%- partial('_widget/comment') %>
